{% extends "main/base.html" %}
{% load static %}
{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}

    <!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title">Welcome to da Club! 🦄</h1>
                        <h3 class="title">This is where the adventure begins 🐾</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   AJAX Book GoogleAPIS  -->
    <div class="main main-raised">
        <div class="container" id="container">
            <br><br><br><br>
            <h2 class="text-center title">Hi, {{ user.username }} 👋🏻</h2>
            <br><br>

            <h3 class="text-center"> Looking for an adventure? </h3>
            <p  class="text-center">Get up, pack up and get yourself ready for the journey ahead!</p>
            <p  class="text-center">But if you're feeling it's not the day, it's okay. Take a rest for a while and get yourself ready for tomorrow journey 🤗</p>
            <br><br><br>
            <div class="row">
                            <div class="col-md-12 ml-auto mr-auto text-center">
                                <a type="button" class="btn btn-primary btn-raised" href="{% url 'story9:logout' %}">
                                    See you tomorrow!
                                </a>
                            </div>
                        </div>
            <br><br><br><br>
        </div>
    </div>

    <div class="container">
        
        

    </div>

</body>
{% endblock content %}
