{% extends 'story7/base_story7.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}


{% block content %}

<!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title">Here we are, at Story 7 &#9924;</h1>
                        <h2 class="title">Let's explore more! </h2>
                        <h3 class="title">But not too far, <br/>
                        or you'll be drowned.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Acoordion  -->
    <div class="main main-raised">
        <div class="container" id="container">
            <br><br><br><br>
            <h2 class="text-center title">A 'lil 'bout Me</h2>
            <br><br>

            <div class="accordion-container">
                <div id="activity" class="set">
                    <a href="#container" class="bar d-flex justify-content-between">
                        Current Activity 
                        <div>
                            <button class="up">▲</button>
                            <span>&ensp;</span>
                            <button class="down">▼</button>
                        </div>
                    </a>

                    <div class="content">
                        <p> → Breathing </p>
                        <p> → Struggling </p>
                    </div>
                </div>

                <div id="experience" class="set">
                    <a href="#container" class="bar d-flex justify-content-between">
                        Experience
                        <div>
                            <button class="up">▲</button>
                            <span>&ensp;</span>
                            <button class="down">▼</button>
                        </div>
                    </a>

                    <div class="content">
                        <p> Staff of Public Relation Bureau of FUKI Fasilkom UI </p>
                        <p> Treasurer of SIWAK-NG 2020 </p>
                        <p> ... </p>
                    </div>
                </div>
                
                <div id="achievement" class="set">
                    <a href="#container" class="bar d-flex justify-content-between">
                        Achievement
                        <div>
                            <button class="up">▲</button>
                            <span>&ensp;</span>
                            <button class="down">▼</button>
                        </div>
                    </a>

                    <div class="content">
                        <p> Still breathing and counting (+working on it)</p>
                    </div>
                </div>
                
                <div id="contact" class="set">
                    <a href="#container" class="bar d-flex justify-content-between">
                        Contact
                        <div>
                            <button class="up">▲</button>
                            <span>&ensp;</span>
                            <button class="down">▼</button>
                        </div>
                    </a>
                    
                    <div class="content">
                        <p> <a href="{% url 'main:home' %}#contact" target="_blank">Find me in here</a> </p>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>
    </div>


{% block script %}<script src="{% static 'story7/js/accordion.js' %}"></script>{% endblock %}

{% endblock %}

