/* TODO: Atur gambar biar horizontally centered saat di device ip5, ipad pro, dll */

/* Import font style dari google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box; /* Menentukan dimensi kotak dengan tepat, tanpa dipengaruhi oleh padding dan border */
}


/* Mengatur font style pada body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Mengatur warna heading h1, h2 & h3 */
h1,h2,h3 {
    color: #00a2c6;
}

h2,h3,h4 {
    margin: 10px 0px;
}

/* Mengatur header dengan membuat efek jumbotron */
.jumbotron {
    font-size: 20px;
    padding: 60px;
    /* background-color:  hsla(295, 100%, 84%, 1) 100% ;
    background-image: linear-gradient(to bottom right, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%); */
    text-align: center;
    color: white;
}

.jumbotron img {
    margin-bottom: 0px;
}

/* Membuat nav menjadi seperti inline (tidak terbuat garis baru) */
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

/* Setting padding nav bar */
nav {
    padding: 5px;
    position: sticky;
    top: 0;
    /* background-color: #f8adff; */
}

/* Mengatur ukuran font, ketebalan teks, dan menghilangkan garis bawah pada elemen */
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* Memberikan efek tebal pada teks ketika salah satu item navigasi diarahkan menggunakan kursor */
nav a:hover {
    font-weight: bold;
}

/* Agar navigasi dapat menempel pada seluruh halaman */
header {
    display: inline;
}

.header-decor {
    background-color:  #f8adff;
    background-image: linear-gradient(to bottom right, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
}

header h1 {
    color: white;
}


main {
    padding: 20px;
}

#content {
    width: 100%;
}


.cards {
    display: grid;
    justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	margin-bottom: 15px;
}

.about-me {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.grid {
    display: grid;
    justify-content: center;
    width: 100%;
    background: white;
	text-align: center;
	padding: 20px;
	margin: 8px
}

.grid img {
    width:75%;
    max-height:500px;
    object-fit: cover;
    object-position: center;
    /* justify-content: center; */
    vertical-align: middle;
    margin:0px 15%;
}

table {
    table-layout: auto;
    text-align: left;
    /* border-collapse: collapse; */
    width: 70%;
}

table, tr, td {
    /* border: 1px solid black; */
    padding: 5px;
}

table td {
    white-space: nowrap;
}

table .absorbing-column{
    width: 100%;
}

.section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.card-white {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 300px;
	text-align: center;
	padding: 24px;
	margin: 8px
}

.card-white img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
}

.card-white h3 {
	margin-bottom: 0;
}

.edu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.illustration {
    width: 180px;
}

.hobby {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.icon {
    width: 50px;
    margin: 10px;
}


/* Mengatur padding, warna teks, dan warna background footer serta membuat teks pada footer menjadi rata tengah dan tebal */
footer {
    padding: 20px;
    color: white;
    background-color:  #6b70ff ;
    /* background-image: linear-gradient(to bottom right, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%); */
    text-align: center;
    font-weight: 500;
}

footer a {
    color: white;
}



/* menentukan rule hanya pada ukuran viewport tertentu */
@media screen and (max-width: 1000px) {
   
 }

/* Cards media queries */
@media (max-width: 800px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .card-white {
        width: auto;
    }
}
    
/* Container media queries */
@media (min-width: 500px) {
    .section {
    width: 400px;
    }
}


@media (min-width: 800px) {
    .section {
    width: 600px;
    }
}

@media (min-width: 1000px) {
    .section {
    width: 100%;
    }
}