<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Aisha Salsabila</title>
    <link rel="stylesheet" href="{% static 'story1/css/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="header-decor">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>Get to know me <img src="{% static 'story1/icons/mail.svg'%}" class="icon" alt="paper-plane"/></p>
        </div>
        <nav>
            <ul>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experience">Experience</a></li>
<!--                <li><a href="#awards">Awards</a></li>-->
                <li><a href="#hobby">Hobby</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <div id="content">
            <div id="profile">
                <div class="cards about-me">
                    <div class="grid">
                        <img src="{% static 'story1/img/profile.jpg'%}" alt="profile-picture">
                    </div>
                    <div class ="grid">
                        <table>
                            <tr>
                            <td colspan="2"><h1>About Me</h1></td>
                            </tr>
                            <tr>
                                <td colspan="2">I'm a Information System student at Universitas Indonesia who like to learn new things.</td>
                            </tr>
                            <tr>
                                <td class="absorbing-column">Name :</td>
                                <td>Aisha Salsabila</td>
                            </tr>
                            <tr>
                                <td>Date of Birth :</td>
                                <td>9 April 2001</td>
                            </tr>
                            <tr>
                                <td>NPM (Student ID) :</td>
                                <td>1906399902</td>
                            </tr>
                            <tr>
                                <td>Class of :</td>
                                <td>2019</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="education" class="edu">
                <h1>Education</h1>
                <div class="cards">		
                    <div class="card-white">
                        <img src="{% static 'story1/img/smp-karakter.jpg'%}" alt="SMP Karakter">
                        <h3>Karakter Junior High School</h3>
                        <p>2013 - 2016</p>
                    </div>

                    <div class="card-white">
                        <img src="{% static 'story1/img/smansa.png'%}" alt="SMAN 1 Depok">
                        <h3>1 Depok Senior High School</h3>
                        <p>2016 - 2019</p>
                    </div>
                    
                    <div class="card-white">
                        <img src="{% static 'story1/img/ui.png'%}" alt="UI">
                        <h3>Universitas Indonesia</h3>
                        <p>Information System</p>
                        <p>2019 - present</p>
                    </div>
                </div>
            </div>
            <div id="experience" class="section">
                <h1>Experience</h1>
                <!--<img src="assets/images/history.jpg" class="featured-image" alt="sejarah">-->
                <h3>SIWAK-NG</h3>
                <h4>Treasurer</h4>
                <p>Jun 2020 - present</p>
                <h3>FUKI</h3>
                <h4>Staff of Public Relation Buerau</h4>
                <p>Mar 2020 - present</p>
                <h3>COMPFEST 12</h3>
                <h4>Staff of Decoration & Costume (DNCe)</h4>
                <p>Mar 2020 - present</p>
                <h3>BETIS 2020</h3>
                <h4>Staff of Documentation</h4>
                <p>Mar 2020 - Jun 2020</p>
            </div>
<!--        <div id="awards" class="section">
                <h1>Awards</h1>
            </div>-->

            <div id="hobby" class="section">
                <h1>Hobby</h1>
                <div class="cards hobby">
                <figure class="grid">
                    <img src="{% static 'story1/img/travel.jpg'%}" class="illustration" alt="travelling">
                    <figcaption>Travelling</figcaption>
                </figure>
                <figure class="grid">
                    <img src="{% static 'story1/img/online-course.jpg'%}" class="illustration" alt="reading">
                    <figcaption>Reading</figcaption>
                </figure>
                </div>
            </div>
            <div id="contact" class="section">
                <h1>Contact Me</h1>
                <p>Connect & Get in Touch with Me</p>
                <a href="mailto:aisha.salsabila91@ui.ac.id"><img src="{% static 'story1/icons/email.svg'%}" class="icon" alt="email"></a>
                <a href="https://www.linkedin.com/in/aisha-salsabila-0904" target="_blank" rel="noopener noreferrer"><img src="{% static 'story1/icons/linkedin.svg'%}" class="icon" alt="linkedin"></a>
                <a href="https://www.instagram.com/a.aishas/" target="_blank" rel="noopener noreferrer"><img src="{% static 'story1/icons/instagram.svg'%}" class="icon" alt="instagram"></a>
                <a href="https://line.me/R/ti/p/aisha_s" target="_blank" rel="noopener noreferrer"><img src="{% static 'story1/icons/line.svg'%}" class="icon" alt="line"></a>
                <a href="tel:+6281281107428" target="_blank" rel="noopener noreferrer"><img src="{% static 'story1/icons/whatsapp.svg'%}" class="icon" alt="whatsapp"></a>
            </div>
        </div>
    </main>
    <footer>
        <p>Aisha Salsabila &#169; 2020</p>
        Travel vector and Education vector by Freepik - <a href="https://www.freepik.com/vectors/education">www.freepik.com</a> ● 
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </footer>
</body>
</html>