{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
    <!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title" style="display:inline">Feeling overwhelmed by your activities?</h1>
                        <p style="display:inline"><a href="{% static 'story5/img/support.gif'%}" target="_blank"><s>click here</s></a></p>
                        <h2 class="title">Let's schedule-it-up!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Add Schedule Form   -->
    <div class="main main-raised">
        <div class="container">
            <div class="section section-contacts">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Add a Schedule</h2>
                        <h4 class="text-center description">Even though you're not visiting this web regularly, let's scheduling our course/activities here so that we can support and remind each other 🤗</h4>
                        <form class="contact-form" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-6 ml-auto mr-auto text-center">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-raised">
                                </div>
                            </div>
                        </form>
                        <br/><br/><br/><br/><br/>
                        <div class="row">
                            <div class="col-md-12 ml-auto mr-auto text-right">
                                <a type="button" class="btn btn-primary btn-raised" href="{% url 'story5:schedule_list' %}">
                                    Schedule List
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}