{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
    <!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title" style="display:inline">Feeling overwhelmed by your activities?</h1>
                        <p style="display:inline"><a href="{% static 'story5/img/support.gif'%}" target="_blank"><s>click here</s></a></p>
                        <h2 class="title">Let's schedule-it-up!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Schedule Details   -->
    <div class="main main-raised">
        <div class="container">
            <div class="section section-contacts" id="schedule">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Schedule Details</h2>
                        <br><br><br>
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary text-center">
                                <h3 class="title text-uppercase" style="letter-spacing: 0.1em;"><strong>{{ schedule.course }}</strong></h3>
                            </div>
                            <div class="card-body">
                                <h4 class="card-text"><strong>Lecturer</strong></h4>
                                <p class="card-text">{{ schedule.lecturer }}</p>
                                <h4 class="card-text"><strong> Credits</strong></h4>
                                <p class="card-text">{{ schedule.credit }}</p>
                                <h4 class="card-text"><strong>Term</strong></h4>
                                <p class="card-text">{{ schedule.term }}</p>
                                <h4 class="card-text"><strong>Classroom</strong></h4>
                                <p class="card-text">{{ schedule.classroom }}</p>
                                <h4 class="card-text"><strong>Description</strong></h4>   
                                <p class="card-text">{{ schedule.description }}</p>
                                <br>
                                <a href="{% url 'story5:schedule_list' %}" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}