{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
    <!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title" style="display:inline">Feeling overwhelmed by your activities?</h1>
                        <p style="display:inline"><a href="{% static 'story5/img/support.gif'%}" target="_blank"><s>click here</s></a></p>
                        <h2 class="title">Let's schedule-it-up!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Schedule List   -->
    <div class="main main-raised">
        <div class="container">
            <br><br><br><br>
            <h2 class="text-center title">Schedule List</h2>
            <br><br><br>
            <div class="table-responsive table-borderless">
                <table class="table table-hover text-center">
                    <thead>
                        <tr class="text-center">
                            <th scope="col"><h4><b>Course</b></h4></th>
                            <th scope="col"><h4><b>Lecturer</b></h4></th>
                            <th scope="col"><h4><b>Credits</b></h4></th>
                            <th scope="col"><h4><b>Room</b></h4></th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for course in schedule %}
                        <tr>
                            <td scope="row"><a href="details/{{ course.id }}"><strong>{{ course.course }}</strong></a></td>
                            <td>{{ course.lecturer }}</td>
                            <td>{{ course.credit }}</td>
                            <td>{{ course.classroom }}</td>
                            <td>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input name="id" value="{{ course.id }}" type="hidden">                        
                                    <button type="submit" value="Submit" class="btn btn-default">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br><br><br><br>
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <a type="button" class="btn btn-primary btn-raised" href="{% url 'story5:add_schedule' %}">
                        Add New Schedule
                    </a>
                </div>
            </div>
            <br><br><br><br>

        </div>
    </div>
{% endblock content %}