{% extends "main/base.html" %}
{% load static %}
{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}

    <!--   Header   -->
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1 class="title">Hi, we're at Story 8 📖</h1>
                        <h2 class="title">They said, <br>
                        "Book is a window to the world." 🌏 </h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   AJAX Book GoogleAPIS  -->
    <div class="main main-raised">
        <div class="container" id="container">
            <br><br><br><br>
            <h2 class="text-center title">Books</h2>
            <br><br>

            <form>
                <div class="row justify-content-md-center">
                    <div class="col-lg-5 col-sm-5">
                        <div class="form-group has-default justify-content-md-center">
                            <input type="text" class="form-control" id="keyword" placeholder="What book would you like to find?">
                        </div>
                    </div>
                </div>
            </form>
            
            <br><br>

            <div class="table-responsive table-borderless table-striped">
                <table class="table table-hover">
                    <thead id="header">
                        <tr>
                            <th scope="col">Cover</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Publisher</th>
                            <th scope="col">Published Date</th>
                        </tr>
                    </thead>
                    <tbody id="result">
                        
                    </tbody>
                </table>
            </div>
            <br><br><br><br>
        </div>
    </div>

    <div class="container">
        
        

    </div>

    <script type="text/javascript">
        $("#keyword").keyup( function(){
            var query = $("#keyword").val();
            var url = '/data?q=' + query;
            console.log(query);
            $.ajax({
                url: 'https://www.googleapis.com/books/v1/volumes?q=' + query,
                success: function(data) {
                    console.log(data);
                    var array_items = data.items;
                    $("#result").empty();
                    for (i = 0; i < array_items.length; i++) {
                        var link = array_items[i].volumeInfo.previewLink;
                        var cover = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                        var title = array_items[i].volumeInfo.title;
                        var author = array_items[i].volumeInfo.authors[0];
                        publisher = array_items[i].volumeInfo.publisher;
                        published_date = array_items[i].volumeInfo.publishedDate;
                        $("#result").append("<tr>" + 
                                                "<td><img src='" + cover + "'></td>" +
                                                "<td><a target='_blank' href='" + link + "'>" + title + "</a></td>" + 
                                                "<td>" + author + "</td>" +
                                                "<td>" + publisher + "</td>" +
                                                "<td>" + published_date + "</td>" +
                                            "</tr>");
                    }
                }
            });
        });
    </script>

</body>
{% endblock content %}
