{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
  <!--   Header   -->
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1 class="title">HELLO</h1>
            <h3>Get to know me <img src="{% static 'main/img/icons/mail.svg'%}" class="icon" alt="paper-plane"/></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Profile   -->
  <div id="profile" class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-6">
          <div class="profile">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="{% static 'main/img/profile-pic.jpg'%}" alt="Profile Picture" class="img-raised rounded img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <h2 class="title">It&apos;s me, 
          <div class="text-center">Aisha Salsabila</div></h2>
          <h5 class="description text-justify">An Information System student of Universitas Indonesia class of 2019. A random person who had so many interests but barely and rarely working on it. Recently, I like to cook and bake something. One of my guilty pleasures is watching video recipes but didn't make them. </h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!--   Education   -->
  <div id="education" class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Education</h2>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="edu">
                <img src="{% static 'main/img/smp-karakter.jpg'%}" alt="Rounded Image" class="rounded img-fluid">
                <h4 class="info-title">Karakter Junior High School</h4>
                <h5>2013 - 2016</h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="edu">
                <img src="{% static 'main/img/smansa.png'%}" alt="Rounded Image" class="rounded img-fluid">
                <h4 class="info-title">1 Depok Senior High School</h4>
                <h5>2016 - 2019</h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="edu">
                <img src="{% static 'main/img/ui.png'%}" alt="Rounded Image" class="rounded img-fluid">
                <h4 class="info-title">Universitas Indonesia</h4>
                <h5>Information System</h5>
                <h5>2019 - present</h5>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div>

  <!--   Experience   -->
  <div id="experience" class="container">
    <div class="section">
      <div class="my-card-container">
        <div class="row">
          <div class="col-md-6">
            <div class="card experience">
              <div class="card-body text-right">
                <h2 class="title">Organization</h2>
                <div class="activity">
                  <h3 class="info-title">FUKI</h3>
                  <h4 class="info-title">Staff of Public Relation Buerau</h4>
                  <h5>2020</h5>
                </div>
                <div class="activity">
                  <h3 class="info-title">Pelajar Pecinta Alam</h3>
                  <h4 class="info-title">Treasurer</h4>
                  <h5>2017 - 2018</h5>
                </div>
                <div class="activity">
                  <h3 class="info-title">Teater Langit</h3>
                  <h4 class="info-title">Secretary</h4>
                  <h5>2017 - 2018</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card experience">
              <div class="card-body">
                <h2 class="title">Event</h2>
                <div class="activity">
                  <h3 class="info-title">SIWAK-NG</h3>
                  <h4 class="info-title">Treasurer</h4>
                  <h5>2020</h5>
                </div>
                <div class="activity">
                  <h3 class="info-title">COMPFEST 12</h3>
                  <h4 class="info-title">Staff of Decoration & Costume (DNCe)</h4>
                  <h5>2020</h5>
                </div>
                <div class="activity">
                  <h3 class="info-title">BETIS 2020</h3>
                  <h4 class="info-title">Staff of Documentation</h4>
                  <h5>2020</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   More : Work   -->
  <div class="container">
    <div class="section text-center">
      <h3 class="title">Wandering what currently I'm doing?</h3>
      <br>
      <a href="{% url 'main:work'%}">
        <button class="btn btn-primary btn-round">
          <i class="material-icons">favorite</i>  Check this out!
        </button>
      </a>
    </div>
  </div>

  <!--   Contact   -->
  <div id="contact" class="container">
    <div class="section text-center">
    <pre>
<h3 class="title">Let's connect & Get in touch</h3></pre>
      <hr>
      <div class="contact">
        <a href="mailto:a.aishasalsabila@gmail.com" class="btn btn-just-icon btn-link"><img src="{% static 'main/img/icons/email.svg'%}" alt="email"></a>
        <a href="https://www.linkedin.com/in/aisha-salsabila-0904" target="_blank" rel="noopener noreferrer" class="btn btn-just-icon btn-link"><img src="{% static 'main/img/icons/linkedin.svg'%}" alt="linkedin"></a>
        <a href="https://www.instagram.com/a.aishas/" target="_blank" rel="noopener noreferrer" class="btn btn-just-icon btn-link"><img src="{% static 'main/img/icons/instagram.svg'%}" alt="instagram"></a>
        <a href="https://line.me/R/ti/p/aisha_s" target="_blank" rel="noopener noreferrer" class="btn btn-just-icon btn-link"><img src="{% static 'main/img/icons/line.svg'%}" alt="line"></a>
        <a href="tel:+6281281107428" target="_blank" rel="noopener noreferrer" class="btn btn-just-icon btn-link"><img src="{% static 'main/img/icons/whatsapp.svg'%}" alt="whatsapp"></a>
      </div>
    </div>
  </div>
{% endblock content %}
