{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
  <!--   Header   -->
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url({% static 'main/img/header-background.png'%});">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1 class="title">I'm doing &#46&#46&#46</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Hemo   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-6">
          <div class="profile">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="{% static 'main/img/hemo.png'%}" alt="Profile Picture" class="img-raised rounded img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-nav-tabs">
            <h4 class="card-header card-header-info">HEMO Creative Studio</h4>
            <div class="card-body">
              <h4 class="card-title">"Hello Memories"</h4>
              <p class="card-text">We believe that every moment at school must be remembered well so that it can be remembered well later.</p>
              <a href="https://www.instagram.com/hemocreativestudio/" class="btn btn-primary" target="_blank">Collage memories</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Bojana   -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-6">
          <div class="profile">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="{% static 'main/img/bojana.jpeg'%}" alt="Profile Picture" class="img-raised rounded img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card card-nav-tabs">
            <h4 class="card-header card-header-info">Bojana</h4>
            <div class="card-body">
              <h4 class="card-title">Bojana = Happiness</h4>
              <p class="card-text">The word "Bojana" came from Sanskrit, which means joyous by eating and drinking. And that's what we want to deliver to you!</p>
              <a href="https://www.instagram.com/bojana_id/" class="btn btn-primary" target="_blank">Happiness for your tummy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
